################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FLCD_Lab2/.vs/FLCD_Lab2
/FLCD_Lab2/FLCD_Lab2/x64/Debug
/FLCD_Lab2/FLCD_Lab2/FLCD_Lab2_TemporaryKey.pfx
/FLCD_Lab2/packages/Microsoft.Windows.CppWinRT.2.0.220531.1
/FLCD_Lab2/x64/Debug
/FLCD_Lab3/.vs/FLCD_Lab3/v17
/FLCD_Lab3/FLCD_Lab3/x64/Debug
/FLCD_Lab3/x64/Debug
/FLCD_Lab3/.vs/FLCD_Lab3/FileContentIndex
/FLCD_Lab4/.vs/FLCD_Lab4/v17
/FLCD_Lab4/x64/Debug
